<% include ./parsials/headar.ejs %>
<style>
  #wish{
    position: absolute;
    z-index: 99;
    width: 150px;
    height: 50px;
    background-color: white;
    right: 0;
    opacity: 0.6;
    top: 5px;
    border-radius: 20px;    
  }
  
</style>
    <div class="container">
        <br>
        <h6>WELLCOME TO MEMEZON,WORLED'S LARGEST E-COMM !</h6>
        <hr>
        <br>
        <div class="d-flex align-content-stretch flex-wrap" style="gap:30px; margin-left: 30px;">
            <%allprods.forEach(function(pr){%>
                <div class="card" style="width: 18rem;">
          
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                          <img src="../images/productimages/<%=pr.productpic[0]%>" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                          </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                          <img src="../images/productimages/<%=pr.productpic[1]%>" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="../images/productimages/<%=pr.productpic[2]%>" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    
                    <div class="card-body">
                      <h5 style="text-transform: capitalize;"  class="card-title"><%=pr.productname%></h5>
                      <p class="card-text"><%=pr.disc%></p>
                      
                      <p  style="text-transform: capitalize;" class="card-text">Solled By:-<%=pr.userid.name%></p>
                      
                      <h6 style="color: green; font-style: bold;">&#x20B9; <%=pr.price%></h6>

                      <div class="d-grid gap-2">
                        <a href="/chackout/product/<%=pr._id%>" class="btn btn-primary" type="button">Buy Now</a>
                        <a href="/wishlist/product/<%=pr._id%>" class="btn btn-warning">Add To Wishlist</a>

                      </div>

                    </div>
                </div>    
            <% }) %>
    
              
    
              
    
    
    
    
              
        </div>

    </div>
    
<% include ./parsials/footer.ejs %>
  